<section class="flex flex-col sm:m-auto sm:max-w-xl font-bold gap-4">
  <a
    class="mx-auto p-4 text-primary hover:text-accent active:text-accent-focus"
    routerLink="/"
    >Retour</a
  >
  <article
    class="flex flex-col p-3 border border-primary shadow-lg divide-y divide-primary"
  >
    <ng-container *ngIf="post$ | async as post">
      <div class="flex justify-between p-1">
        <p>Par {{ post.author }}</p>
        <p>{{ +post.creationDate | TimeAgo }}</p>
      </div>
      <div class="p-4 break-words">{{ post.content }}</div>
      <div class="flex items-end justify-end px-1">
        <div
          class="flex mt-3 gap-4"
          *ngIf="post.authorId === (userId$ | async)"
        >
          <button
            class="text-primary hover:text-accent active:text-accent-focus"
          >
            Editer
          </button>
          <button
            class="text-primary hover:text-accent active:text-accent-focus"
          >
            Supprimer
          </button>
        </div>
      </div>
    </ng-container>
  </article>
</section>
