<nav class="dropdown dropdown-end">
  <label
    tabindex="0"
    class="btn rounded-lg bg-primary hover:bg-secondary-focus active:bg-accent text-white"
    >Menu</label
  >
  <ul
    class="menu dropdown-content mt-2 w-40 rounded-lg badge-primary divide-y divide-accent"
  >
    <li class="hover:bg-secondary-focus active:bg-accent text-white">
      <a class="flex justify-center" routerLink="/">Accueil</a>
    </li>
    <li
      class="hover:bg-secondary-focus active:bg-accent text-white text-center"
    >
      <a class="flex justify-center" routerLink="/register">S'enregistrer</a>
    </li>
    <li
      class="hover:bg-secondary-focus active:bg-accent text-white text-center"
    >
      <a class="flex justify-center" routerLink="/login">Se connecter</a>
    </li>
    <li
      class="hover:bg-secondary-focus active:bg-accent text-white text-center"
    >
      <a class="flex justify-center" routerLink="/login">Déconnexion</a>
    </li>
  </ul>
</nav>
